In [1]:
#DAY 1
integer_var = 10             
float_var = 10.5             
string_var = "Hello World"   
boolean_var = True           

print("Integer Variable:", integer_var, "Type:", type(integer_var))
print("Float Variable:", float_var, "Type:", type(float_var))
print("String Variable:", string_var, "Type:", type(string_var))
print("Boolean Variable:", boolean_var, "Type:", type(boolean_var))

Integer Variable: 10 Type: <class 'int'>
Float Variable: 10.5 Type: <class 'float'>
String Variable: Hello World Type: <class 'str'>
Boolean Variable: True Type: <class 'bool'>

In [2]:
#day 2
my_list = [10, "apple", 3.14, True, "banana"]

print("First element (index 0):", my_list[0]) 
print("Second element (index 1):", my_list[1])  
print("Last element (index -1):", my_list[-1])

First element (index 0): 10
Second element (index 1): apple
Last element (index -1): banana

In [6]:
# DAY 2
my_tuple = (10, "apple", 3.14, True, "banana")


print("First element (index 0):", my_tuple[0]) 
print("Third element (index 2):", my_tuple[2]) 
print("Last element (index -1):", my_tuple[-1])

First element (index 0): 10
Third element (index 2): 3.14
Last element (index -1): banana

In [7]:
# DAY 2
my_dict = {"name": "Alice", "age": 25, "city": "New York", "job": "Engineer", "is_student": False}


print("Name:", my_dict["name"])  # Alice
print("Age:", my_dict["age"])  # 25
print("Job:", my_dict["job"])  # Engineer


keys = list(my_dict.keys())
values = list(my_dict.values())

print("First key (index 0):", keys[0])
print("First value (index 0):", values[0])

Name: Alice
Age: 25
Job: Engineer
First key (index 0): name
First value (index 0): Alice

In [9]:
#DAY 3

subject1 = float(input("Enter marks for subject 1: "))
subject2 = float(input("Enter marks for subject 2: "))
subject3 = float(input("Enter marks for subject 3: "))


average = (subject1 + subject2 + subject3) / 3


if average >= 90:
    print("Grade: A")
elif 80 <= average < 90:
    print("Grade: B")
elif 70 <= average < 80:
    print("Grade: C")
else:
    print("Grade: Fail")

Enter marks for subject 1: 23
Enter marks for subject 2: 44
Enter marks for subject 3: 55
Grade: Fail

In [10]:
#DAY 4

n = int(input("Enter a positive integer n: "))
even_sum = 0
for i in range(2, n + 1, 2): 
    even_sum += i  
print(f"The sum of all even numbers between 1 and {n} is: {even_sum}")

Enter a positive integer n: 10
The sum of all even numbers between 1 and 10 is: 30